{% extends 'base/main.html' %}

{% block content %}
<h1>Home</h1>

<div>
    <ul>
        {% for room in rooms %}
        <li>
            <a href="{% url 'room' room.id %}">
                <p>
                    {{ room.id }}
                </p>
                <p>
                    {{ room.host.username }}@
                </p>
                {{ room.name }}
                <p>
                    {{ room.topic.name }}
                </p>
                <a href="{% url 'update_room' room.id %}">
                    Edit
                </a>
                |
                <a href="{% url 'delete_room' room.id %}">
                    Delete
                </a>
            </a>
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>
{% endblock content %}